@import url('https://fonts.google.com/specimen/Poppins?query=Poppins');
@import url('https://fonts.google.com/specimen/Comfortaa?query=comfor');


@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.google.com/specimen/Poppins?query=Poppins');
}




@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.google.com/specimen/Comfortaa?query=comfor') ;
}





.p_Style {
  
	font-family: 'Poppins';
	color: #706f6f;
}


h1 {
  	font-family: 'Comfortaa';
  font-weight: normal;
  color: #99999;
}

h2 {
    	font-family: 'Comfortaa';
  font-weight: normal;
  color: #706f6f;
}

h3 {  	
  font-family: 'Comfortaa';
  font-weight: normal;
  color: #157f6b;
}

h4 {
    	font-family: 'Comfortaa';
  font-weight: normal;
  color: #ee8472;
}

h5 {
    	font-family: 'Poppins';
  font-weight: bold;
  color: #878787;
}

h6 {
    	font-family: 'Poppins';
  font-weight: normal;
  color: #ee8472;
}


a, a > code {
  color: rgb(253, 199, 49);
  text-decoration: none;
}

.remark-code-line-highlighted { background-color: rgb(253, 199, 49); }

.inverse {
  background-color: #008080;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #88398a;
}


.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
